<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pickup">

    <permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:protectionLevel="dangerous" />
    <permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".PickUpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickUp">
        <activity android:name=".activities.GameDetailsActivity" android:screenOrientation="portrait"/>

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activities.EnterStatsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Creation" android:screenOrientation="portrait"/>
        <activity android:name=".activities.MainActivity"
            android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".activities.UserAuthentication" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>